html {
  margin: 0;
  min-height: 100%;
}

body {
  margin: 0;
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  filter: brightness(1.2);
  z-index: -2;
}

.headerBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  position: fixed;
  top: 0;
  z-index: 9;
}

.leftBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 16em;
}

.logoContainer {
  margin: 0.7em 0 0.7em 2.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 8.8em;
  text-decoration: none;
}

.logoImageContainer {
  display: flex;
  align-items: center;
  margin-right: 0.5em;
}

.logoImage {
  width: 8em;
}

#audioController {
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 100%;
  margin: 0 1em 0 2em;
}

#audioController:hover {
  filter: brightness(0.8);
}

.sourcesContainer {
  top: 3.5em;
  left: 0;
}

.sourcesContainer {
  color: white;
  position: absolute;
  left: 18em;
}

.link {
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  font-size: 1.3em;
  border: 3px solid;
  border-radius: 1em;
  position: relative;
  font-family: "izayoi";
  animation: colorChange 0.75s infinite;
  animation-direction: alternate;
}

.link:hover {
  background: white;
}

.dropdownContent {
  position: absolute;
  left: -18em;
  top: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0.75rem;
  border-radius: 0.25rem;
  display: none;
  flex-direction: column;
  width: 30em;
  text-align: center;
  color: white;
}

.aboutCopyright {
  font-size: 1.2em;
  color: rgb(255, 139, 139);
}

.sourcesLink {
  position: relative;
  color: rgb(98, 148, 255);
  word-wrap: break-word;
}

.dm {
  font-size: 1.2em;
  color: rgb(211, 247, 164);
}

.rightBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightBarStuff {
  position: relative;
  color: white;
  width: 27em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 2.5vw;
}

.separator {
  width: 2.5em;
  height: 2.5em;
  filter: hue-rotate(140deg);
}

.about,
.KD,
.Stats,
.Scoreboard {
  font-size: 1.1em;
  text-decoration: none;
  color: rgb(221, 221, 221);
  font-family: "izayoi";
  position: relative;
  padding: 0 6px;
}

.about:after,
.KD:after,
.Stats:after,
.Scoreboard:after {
  content: "";
  position: absolute;
  background-image: linear-gradient(to right, rgb(0, 217, 255), rgb(0, 4, 255));
  height: 2px;
  width: 0%;
  left: 0;
  bottom: -2px;
  transition: 0.3s;
}

.about:hover:after,
.KD:hover:after,
.Stats:hover:after,
.Scoreboard:hover:after {
  width: 100%;
}

.about:hover,
.KD:hover,
.Stats:hover,
.Scoreboard:hover {
  text-shadow: 0 0 5px rgb(59, 210, 230), 0 0 12px rgb(59, 210, 230),
    0 0 20px rgb(59, 210, 230);
  color: white;
}
